@font-face{
  font-family: fengardo_black;
  src: url(../fonts/fengardoneue_black-webfont.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: fengardo_regular;
  src: url(../fonts/fengardoneue_regular-webfont.ttf);
  font-style: normal;
  font-variant:initial;
}     
@font-face{
  font-family: IBMP-Regular;
  src: url(../fonts/IBMPlexSansThai-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}        
@font-face{
  font-family: IBMP-Bold;
  src: url(../fonts/IBMPlexSansThai-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}  
a:hover{
  text-decoration: none;
}   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}  
header{
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 27px 125px; 
  position: relative;
  z-index: 10;
}
header img.logo{
  height: 32px; 
}
.menu-left{
  position: fixed;
  z-index: 5;
  left: 0;
  top: 80px;
  background: #E9ECEF;
  min-height: calc(100vh - 80px);
  width: 80px;
  transition: .33s all ease-out; 
}
.menu-left:hover{ 
  width: 289px;
}
.menu-left ul.menu{
  list-style: none;
  padding-left: 0px;
  margin-top: 32px;
} 
.menu-left ul.menu li{ 
  padding-left: 72px;
  position: relative;
  height: 64px;
  transition: .33s all ease-out; 
}
.menu-left ul.menu li span{
  font-size: 32px;
  color: #7A7D7E;
  position: absolute; 
  left: 26px;
}
.menu-left ul.menu li a{
  display: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px; 
  color: #626262;
  transition: .33s all ease-out; 
  font-family: fengardo_regular;
}
.menu-left:hover ul.menu li a{ 
  display: block;
}
.menu-left ul.menu li.active a{ 
  color: #39B24A;
}
.menu-left ul.menu li.active span{ 
  color: #39B24A;
}
.menu-left ul.menu li:hover a{ 
  color: #39B24A;
} 
section.main{
  padding-top: 111px;
  background: #F5F5F5;
  min-height: calc(100vh - 80px);
} 
.subscription h1{
  font-family: fengardo_regular; 
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px; 
  text-align: center;
  letter-spacing: 0.38px; 
  color: #626262;
  margin-bottom: 50px;
}
.subscription .package{
  position: relative;
  padding: 30px 16px;
  gap: 16px;  
  height: 203px;   
  border: 1px solid #626262;
}
.subscription .justify-content-center > div:nth-child(1){ 
  border-radius: 6px 0px 0px 6px;
  border-right: 0px;
}
.subscription .justify-content-center > div:nth-child(3){ 
  border-radius: 0px 6px  6px 0px ;
  border-left: 0px;
}
.subscription .package.best-value{
  border: 1px solid #39B24A;
  height: 205px;  
}
.subscription .package.best-value .best{
  height: 24px;  
  background-color: #39B24A;
  border-radius: 6px 6px 0px 0px;
  position: absolute;
  top: -24px;
  width: 100%;
  left: 0; 
  font-weight: 600;
  font-size: 12px;
  line-height: 26px; 
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase; 
  color: #FFFFFF;
}
.subscription .package h3{ 
  font-family: fengardo_regular;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px; 
  text-align: center;
  letter-spacing: 0.15px; 
  color: #7A7D7E;
}
.subscription .package.best-value h3{  
  color: #0E1318;
} 
.subscription .package h3 span{  
  color: rgba(57, 178, 74, 0.5);
}
.subscription .package h2{ 
  font-family: fengardo_regular;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px; 
  text-align: center;
  letter-spacing: 0.39px; 
  color: #868C92; 
  margin-bottom: 16px;
}
.subscription .package h2 span{ 
  font-family: IBMP-Regular;
  text-decoration: line-through; 
  font-size: 16px;
  line-height: 24px; 
  text-align: center;
  letter-spacing: -0.31px;
  text-decoration-line: line-through; 
  color: #DD6437;
  padding-right: 15px;
}
.subscription .btn-buy{
  padding: 9px 12px;
  gap: 10px;  
  height: 44px; 
  border: 1px solid #39B24A;
  border-radius: 4px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.31px; 
  color: #39B24A;
  font-family: IBMP-Bold; 
}
.subscription .package.best-value .btn-buy{
  background-color: #39B24A;
  color: #fff;
}
.subscription > h2{
  margin-top: 50px;
  font-family: fengardo_regular;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px; 
  text-align: center;
  letter-spacing: 0.15px; 
  color: #626262;
  margin-bottom: 30px;
}
.subscription ul{
  padding-left: 0px;
  list-style: none;  
}
.subscription ul li{
  padding-left: 0px;
  list-style: none;  
  padding-left: 28px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: IBMP-Regular; 
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.31px; 
  color: #7A7D7E;
}
.subscription ul li::after{
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 18px;
  background: url(../images/Tick.png);
  background-size: 24px 18px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.subscription .img-fluid{
  background: #D9D9D9;
  border-radius: 6px;
}
.footer hr{
  border-top: 1px solid #CED4DA;
  margin-top: 24px;
}
.footer h6{
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px; 
  letter-spacing: -0.08px; 
  color: #7A7D7E;
}
.footer a{  
  text-decoration-line: underline;  
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 21px; 
  letter-spacing: -0.08px; 
  color: #7A7D7E;
  padding-left: 8px;
  padding-right: 8px;
}
.footer span{   
  font-family: IBMP-Regular; 
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px; 
  letter-spacing: -0.08px; 
  color: #7A7D7E; 
  padding-left: 8px;
  padding-right: 8px;
  border-right: 1px solid #7A7D7E;
} 
.btn-user{
  margin-top: -9px;
  margin-left: 15px;
  transition: .33s all ease-out; 
  padding: 9px 12px;
  gap: 6px;  
  height: 44px; 
  border: 1px solid #39B24A;
  border-radius: 4px;
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.31px; 
  color: #39B24A; 
  display: inline-flex;
}
.btn-user:hover{
  background-color: #39B24A;
  color: #fff;
}
header .notifications{
  position: relative;
  font-size: 32px;
  color: #7A7D7E; 
  top: -10px; 
  margin-left: 15px;
  margin-right: 15px;
}
header .texts{
  margin-top: -9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;  
  text-align: right;
  letter-spacing: -0.08px; 
  color: #7A7D7E; 
}
header .texts span{
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.31px; 
  color: #DD6437;

}
.device-detail h6{ 
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.31px; 
  color: #B5BBC1;
}
.device-detail h1{ 
  font-family: fengardo_regular;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px; 
  letter-spacing: 0.38px; 
  color: #626262; 
}
.btn-add-device{
  padding: 9px 12px;
  gap: 6px;  
  height: 44px; 
  background: #39B24A;
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.31px; 
  color: #FFFFFF;
  font-family: IBMP-Bold; 
  margin-left: 20px;
  margin-top: -20px;
  display: inline-flex;
}
.btn-add-device span{
  font-size: 16px;
}
.btn-add-device .material-icons{ 
  line-height: 26px; 
}
.device-detail .btn-view{ 
  margin-top: 20px;
  color: #CED4DA;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 30px;
  background-color: transparent;
  border: 0px;
}
.device-detail .btn-view:focus{ 
  outline: none;
}
.device-detail .btn-view.active{  
  color: rgba(9, 93, 20, 0.5);; 
}
.box-device{
  padding: 16px;
  gap: 8px;  
  height: 108px; 
  background: #FFFFFF; 
  border: 1px solid #C9D1D7;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: .23s all ease-out; 
  margin-bottom: 23px;
}
.box-device.active{
  height: 255px;
}
.box-device .img{
  position: absolute;
  border: 1px solid #E9ECEF;
  border-radius: 1px;
  height: 72px;
  width: 72px;
  object-fit: cover;
}
.box-device h3{
  padding-left: 88px;
  font-family: fengardo_regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px; 
  letter-spacing: -0.45px; 
  color: #626262;
  margin-bottom: 18px;
}
.box-device h4{
  padding-left: 88px;
  font-family: IBMP-Regular;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 40px;  
  letter-spacing: -0.08px; 
  color: #626262;
}
.box-device .btn-online{ 
  box-sizing: border-box; 
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 6px 16px;
  gap: 10px; 
  width: 78px;
  height: 36px; 
  background: #D8F3DC; 
  border: 1px solid #39B24A;
  border-radius: 200px;
  transition: .33s all ease-out;  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  text-align: center;
  letter-spacing: -0.31px; 
  color: #39B24A;
  font-family: IBMP-Regular; 
}
.box-device .btn-online:hover{  
  color: #fff;
  background: #39B24A; 
  border: 1px solid #39B24A; 
}
.box-device .btn-disconnected{  
  position: absolute;
  right: 16px;
  top: 16px;
  transition: .33s all ease-out;  
  box-sizing: border-box; 
  padding: 6px 16px;
  gap: 10px; 
  width: 127px;
  height: 38px; 
  background: #EDEDED;
  border: 1px solid #C4C4C4;
  border-radius: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.31px; 
  color: #C4C4C4; 
  font-family: IBMP-Regular; 
}
.box-device .btn-disconnected:hover{  
  background: #C4C4C4; 
  color: #fff; 
}
.box-device h2{  
  position: absolute;
  right: 64px;
  top: 64px;
  font-family: IBMP-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  letter-spacing: -0.31px; 
  color: #F43838; 
}
.box-device h2 span{   
  color: #C9D1D7;
  font-size: 32px;
  position: absolute; 
  top: -5px;
  right: -48px;
}
.box-device hr{
  margin-left: 88px;
  border-top: 1px solid #C9D1D7;
}
.box-device .option{  
  padding-left: 88px;
  position: relative;
}
.box-device .option h6{  
  font-family: IBMP-Regular;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 21px; 
  letter-spacing: -0.08px; 
  color: #7A7D7E; 
}
.box-device .option h6 span{  
  font-size: 16px;
  color:  rgba(173, 181, 189, 0.5);
  position: absolute; 
  left: 16px;
}
.box-device h5{  
  font-weight: 400;
  font-size: 12.8px;
  line-height: 21px; 
  letter-spacing: -0.08px; 
  color: #7A7D7E;
  font-family: IBMP-Regular; 
} 
.row-device .col-12{
  flex: 0 0 50%;
  max-width: 50%;
}
.row-device.list-alt .col-12{
  flex: 0 0 100%;
  max-width: 100%;
} 
.row-profile{
  padding-bottom: 100px;
}
.row-profile label{
  font-family: IBMP-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.31px; 
  color: #212529; 
}
.row-profile label{
  font-family: IBMP-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.31px; 
  color: #212529; 
}
.btn-pro{
  padding: 9px 12px;
  gap: 6px;  
  height: 44px; 
  border: 1px solid rgba(52, 58, 64, 0.5);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-family: IBMP-Bold;
  letter-spacing: -0.31px; 
  color: rgba(52, 58, 64, 0.5);
}
.icons-text{
  display: inline-flex;
} 
.icons-text span{
  margin-top: 5px;
  font-size: 16px;
  margin-right: 10px;
}
.row-profile h5{
  font-family: fengardo_regular; 
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px; 
  letter-spacing: -0.45px; 
  color: #212529; 
}
.row-profile h6{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.31px; 
  color: #212529;
  font-family: IBMP-Regular; 
}
.row-profile h6 span{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px; 
  font-family: IBMP-Regular;
  color: #868C92; 
}
.btn-danger{
  padding: 9px 12px;
  gap: 6px;  
  height: 44px; 
  background-color: transparent;
  border: 1px solid #DC3545;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-family: IBMP-Bold;
  letter-spacing: -0.31px; 
  color: #DC3545;  
}
.list-alt .box-device h3 {
  margin-bottom: 0px;
}
.list-alt .box-device {
  height: 181px !important;
}
.list-alt .box-device.active {
  height: 181px !important;
}
.list-alt  .box-device h2 {
  position: absolute;
  left: 104px;
  top: 75px; 
}
.list-alt  .box-device h2 span{
  display: none;
} 
.list-alt  .box-device h2 + hr{
  display: none;
}
.box-device .listx{
  display: none;
} 
.list-alt  .box-device .op{
  display: none;
}
.list-alt .box-device .listx{
  display: flex;
}  
.list-alt .box-device .row.listx h3{
  padding-left: 0px; 
} 
.list-alt .box-device .row.listx .col-md-7 h3{
  padding-left: 0px;
  font-family: IBMP-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px; 
  letter-spacing: -0.31px; 
  color: #7A7D7E;
  margin-bottom: 15px;
} 
.list-alt .box-device .listx h4{
  padding-left: 0px; 
} 
.progress.bg-success{
  background-color: rgba(57, 178, 74, 0.5) !important;
  border-radius: 8px !important;
  height: 8px; 
  margin-bottom: 16px;
}
.progress .progress-bar { 
  border-radius: 8px;
}
.progress{ 
  width: calc(100% - 50px);
  border-radius: 8px !important;
  height: 8px; 
  margin-bottom: 16px;
}  
.progress + p{
  width: 50px;
  text-align: right;
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 10px; 
  letter-spacing: -0.31px; 
  color: #7A7D7E;
}  
.progress.bg-success .progress-bar {
  background-color: #095D14; 
}
.progress.bg-success{
  background-color: rgba(57, 178, 74, 0.5) !important; 
} 
.progress.bg-dander .progress-bar {
  background-color: #DD6437; 
}
.progress.bg-dander{
  background-color: #F0BBA8 !important; 
} 
.list-alt .box-device .option h6{
  white-space: nowrap; 

} 
section.main-fluid{
  padding: 111px 111px 55px 132px;
  background: #fff;
  min-height: calc(100vh - 80px); 
}  
.device-menu .nav .nav-link{
  padding: 24px 16px;
  gap: 16px;  
  width: 100%;
  height: 72px; 
  border-bottom: 1px solid #C4C4C4;
  border-radius: 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;  
  letter-spacing: -0.45px; 
  color: #39B24A; 
  transition: .33s all ease-out; 
  font-family: fengardo_regular;
}
.device-menu .nav .nav-link.active{
  background: #39B24A;
  color: #fff;
}
.device-menu .nav .nav-link.deactivate{ 
  color: #E35D6A; 
}
.device-menu .nav .nav-link:hover{
  background: #39B24A;
  color: #fff;
}
.device-menu .lighting{
  padding: 30px 16px 16px;
  gap: 16px;  
  background: #EAFFED;
  border-bottom: 1px solid #C4C4C4;
}
.device-menu .lighting h4{
  font-family: fengardo_regular; 
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px; 
  letter-spacing: -0.45px; 
  color: #212529;
  margin-bottom: 18px;
}
.device-menu .lighting h6{
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 21px; 
  letter-spacing: -0.08px; 
  color: #7A7D7E; 
}
.device-menu .lighting h6 span{
  font-size: 16px; 
  letter-spacing: -0.31px; 
  color: #F43838;
  padding-left: 10px;
}
.device-menu .lighting h6 i{
  font-style: normal;
  text-align: right;
  float: right;
}
.all-back{
  display: inline-flex;
  padding: 20px;
} 
.all-back span{
  font-size: 32px;
  color: #DD6437;
  margin-right: 16px;
}
.all-back p{
  font-family: fengardo_regular; 
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; 
  letter-spacing: -0.45px; 
  color: #B5BBC1;
  margin-bottom: 0px;
}
.tab-pane h1{
  margin-top: 15px;
  font-family: fengardo_regular;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px; 
  letter-spacing: 0.15px; 
  color: #B5BBC1;
  margin-bottom: 20px;
}  
.h3d{
  padding: 8px 16px; 
  height: 40px; 
  background: #D8F3DC;
  font-family: fengardo_regular;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px; 
  letter-spacing: -0.45px; 
  color: #095D14;
  margin-top: 16px;
  margin-bottom: 16px;
}
.tab-pane p{
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.31px; 
  color: #626262;
}  
.tab-pane h6.sunrise{
  display: inline-flex;
}
.tab-pane h6.sunrise span{
  font-size: 16px;
  padding-right: 8px;
  color: #DD6437;
} 
.tab-pane h6.sunrise p{ 
  font-family: IBMP-Regular; 
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px; 
  letter-spacing: -0.08px; 
  color: #DD6437;
  border-right: 1px solid #B5BBC1;
  padding-right: 16px;
  margin-right: 16px;
}
.tab-pane h6.sunset{
  display: inline-flex;
}
.tab-pane h6.sunset span{
  font-size: 16px;
  padding-right: 8px;
  color: #B5BBC1;
} 
.tab-pane h6.sunset p{ 
  font-family: IBMP-Regular; 
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px; 
  letter-spacing: -0.08px; 
  color: #B5BBC1;
}
.tab-pane h2{
  margin-top: 15px;
  font-family: fengardo_regular;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #B5BBC1;
  margin-top: 10px;
  margin-bottom: 16px;
}  
.tab-pane h3{
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.31px; 
  color: #095D14;
  margin-bottom: 16px;
}  
.tab-pane label{
  font-family: IBMP-Regular; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.31px; 
  color: #B5BBC1;
  margin-top: 10px;
}  
.tab-pane label.text-danger{
  color: #C44D21;
}  
.bootstrap-select{
  width: 100%; 
} 
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
  height: 48px;  
} 
.bootstrap-select .dropdown-toggle::after { 
  content: "";
  border: none !important;
  background: url(../images/keyboard_arrow_down.png);
  width: 24px;
  height: 24px;
  margin-top: 0px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 24px 24px !important;
}
.btn-light {  
  background: #FFFFFF !important; 
  border: 1px solid #CED4DA;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px; 
  color: #626262;
  font-family: IBMP-Regular;
  height: 38px;
  font-size: 12px;
  line-height: 30px;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  font-family: IBMP-Regular;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #39B24A;
  background-color: #39B24A;
}
.custom-control-label{
  font-family: IBMP-Regular !important;  
  font-size: 16px !important;
  line-height: 26px; 
  letter-spacing: -0.31px; 
  color: #626262 !important; 
} 
.custom-control-label.text-danger{
  color: #DC3545 !important;
}
.h3y{
  padding: 8px 16px; 
  height: 40px;  
  font-family: fengardo_regular;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px; 
  letter-spacing: -0.45px; 
  color: #095D14;
  margin-top: 16px;
  margin-bottom: 16px;
  background: rgba(255, 193, 7, 0.5);
}
.tab-pane label .right a{
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.31px;
  text-decoration-line: underline; 
  color: #39B24A;
  float: right;
}  
.btn-update{
  padding: 9px 12px;
  gap: 10px;  
  height: 44px; 
  border: 1px solid #39B24A;
  border-radius: 4px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.31px; 
  color: #39B24A;
  font-family: IBMP-Bold; 
}
.btn-update{
  background-color: #39B24A;
  color: #fff;
}

.menu-mb{ 
  z-index: 2222 !important;
  position: fixed;
  left: -100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 303px;
  height: 100vh;
  background: #E9ECEF; 
  padding: 50px 24px;  
}
.menu-mb.active{
  display: block; 
  left: 0;
  z-index: 22;
}
.menu-mb.active:after{
  content: "";
  position: fixed; 
  right: 0;
  top: 0; 
  bottom: 0;
  width: calc( 100% - 303px) ;
  height: 100vh;
  background: rgba(52, 58, 64, 0.5);
  z-index: 1111 !important;
}
.closex{
  text-align: right;
  font-size: 24px;
}
.end-in{
  padding: 16px 0px;
  gap: 8px; 
  width: 100%;
  height: 92px; 
  background: #FFFFFF;
}
.end-in h5{
  font-family: IBMP-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  text-align: center;
  letter-spacing: -0.31px; 
  color: #7A7D7E; 
}
.end-in h5 span{
  font-family: fengardo_regular;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px; 
  color: #DD6437; 
}


/* 
  transition: .33s all ease-out; 
  
  font-family: fengardo_regular;
  font-family: fengardo_black;
  
  font-family: IBMP-Regular;
  font-family: IBMP-Bold;
   
  IPAD
  888888888888888888888888888888888888888888888888888888888888888888888888888888
  888888888888888888888888888888888888888888888888888888888888888888888888888888
  888888888888888888888888888888888888888888888888888888888888888888888888888888 
*/ 
@media only screen and (max-width: 1024px) { /* MOBILE */
  .menu-left{
    display: none !important;
  } 
  section.main{
    padding-top: 111px;
    background: #fff;
    min-height: calc(100vh - 80px);
  } 
  header .col-md-6.text-right{
    display: none;
  }
  header .logo{
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
  }
  .menu-bars{
    position: absolute;
    bottom: 22px;
    left: 25px;
  }
  .menu-logout{
    position: absolute;
    bottom: 22px;
    right: 25px;
  }
  
  .menu-mb .menu-left{
    position: absolute;
    display: block !important;
  } 
  .menu-mb .menu-left{
    position: relative;
    display: block !important;
  } 
  .menu-mb .menu-left ul.menu li a{
    display: block !important; 
  }
  .menu-mb .menu-left ul.menu li {
    padding-left: 45px; 
  }
  .menu-mb .menu-left ul.menu li span { 
    left: 0px;
  }
  .menu-mb .menu-left ul { 
    margin-top: -50px;
  }
  .device-detail > h6{ 
    display: none;
  }
  .device-detail h1{ 
    color: #39B24A;
    font-size: 24px;
  }
  .btn-view{
    display: none;
  } 
  .btn-add-device{  
    margin-top: -95px;
  }
  .btn-add-device p{ 
    width: 34px;
    height: 34px; 
    display: none;
  }
  .row-device .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .box-device.active {
    height: 356px;
  }
  .box-device h3 { 
    margin-bottom: -5px;
    padding-left: 49px; 
  } 
  .box-device h2 { 
    top: 75px; 
  }
  .box-device .img { 
    border: 0px solid #E9ECEF;
    border-radius: 0px;
    width: 25px;
    height: 39px;
    object-fit: cover;
  } 
  .box-device h4 {
    padding-left: 49px; 
  }
  .box-device h2 { 
    left: 64px; 
  }
  .box-device hr {
    margin-left: 0px;
    border-top: 1px solid #C9D1D7;
    margin-top: 32px;
  }
  .box-device .option {
    padding-left: 0px; 
  }
  .box-device h5 { 
    font-size: 16px; 
    color: #DD6437;
  }
  .box-device .op .text-right h5 { 
    text-align: left;
    font-size: 12px; 
    color: #B5BBC1; 
  }
  .subscription.pt-5{
    padding-top: 0px !important;
  }
  .subscription h1 { 
    font-size: 24px; 
    text-align: left; 
    color: #39B24A;
    line-height: 35px;
    margin-bottom:16px;
  }
  .subscription .row.justify-content-center{
    margin-left: 15px;
    margin-right: 15px;
  }
  .subscription .package { 
    border: 1px solid #626262 !important;
    margin-bottom: 16px;
    border-radius: 6px !important;
  }
  .subscription .best-value { 
    border: 1px solid #39B24A !important;
    margin-top: 26px;
    border-radius: 0px 0px 6px 6px !important;
  }
  .subscription .package.best-value .best { 
    outline: 1px solid #39B24A !important;
  }
  .subscription .img-fluid {
    background: #D9D9D9;
    border-radius: 6px;
    width: 100%;
  }
  section.main-fluid {
    padding: 99px 0px 55px 0px;
    background: #fff;
    min-height: calc(100vh - 80px);
  }
  .tab-pane p span{
    width: 40%;
    float: left;
  }


}



/* 
IPAD 
*/